/*----------------------------------------
	doc content
----------------------------------------*/
@use "../abstract" as *;

.anchorjs-link {
  font-size: 23px !important;
  &:hover {
    color: #2f719b;
  }
}

.bd-doc-area {
  padding-top: 130px;
}

ul.item-details {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: 26px 40px;
  list-style: none;
  @include light {
    background: rgb(240, 240, 240);
  }
}
.item-details {
  li {
    margin: 10px 0;
    color: var(--clr-theme-1);

    strong {
      font-weight: 500;
    }

    a {
      color: var(--clr-theme-1);

      &:hover {
        color: var(--clr-common-white);
        @include light {
          color: var(--clr-common-black);
        }
      }
    }
  }
}
.bd-doc-content-wrap {
  h2 {
    font-size: 35px;

    @media #{$xl, $lg, $md, $sm, $xs} {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 25px;

    @media #{$xl,$lg, $md, $sm, $xs} {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @media #{$xl,$lg, $md, $sm, $xs} {
      font-size: 18px;
    }
  }
}

.bd-doc-content-wrap {
  padding-left: 30px;
  padding-right: 30px;

  @media #{$larger,$xxl,$xl,$lg, $md, $sm, $xs} {
    padding: 0;
  }
}

.steps-style {
  box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.079);
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 2px;
  @include light {
    border: 1px solid rgba(6, 6, 6, 0.1);
  }

  ul {
    position: relative;
    list-style: none;
    padding-left: 20px;
    margin: 20px 0;
    padding-right: 20px;

    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin: 20px 0;
      position: relative;
      padding-left: 35px;
    }

    &.list-decimal {
      list-style: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: var(--clr-theme-1);
      }

      li {
        padding-left: 40px;
        counter-increment: a;
        line-height: 30px;
        color: #cbcbcc;
        @include light {
          color: #484848;
        }
        &::before {
          content: counter(a);
          position: absolute;
          color: #fff;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          font-weight: 500;
          font-size: 12px;
          background-color: var(--clr-theme-1);
          text-align: center;
          line-height: 23px;
          top: -4px;
          left: -4px;
          border: 4px solid #fff;
          @include light {
            border: 4px solid #d7dbe4;
          }
        }
      }
    }
  }
}

.step_item_wrpa {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 5px;

  .step_item {
    &:last-child {
      margin-right: 5px;
    }
  }
}

.step_item {
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 4px;
  background: var(--clr-theme-1);
  color: #fff;
  position: relative;
  line-height: 20px;
  margin-right: 30px;
  margin-left: 5px;
}

.step_item + .step_item::before {
  content: "\f178";
  font-family: var(--tpl-ff-font-awesome);
  position: absolute;
  left: -25px;
  color: var(--clr-theme-1);
}

.bd-notice {
  border-left: 10px solid;
  padding: 30px 40px;
  margin-bottom: 20px;
  margin-top: 0;

  p {
    color: black;
    margin-bottom: 0;
    line-height: 30px;
  }
}

.bd-warning {
  background: #fefaed;
  border-color: #d49c00;
}

.bd-danger {
  background: #ffeff0;
  border-color: #fa303e;
}

.bd-need-work {
  border: 1px solid rgba(255, 255, 255, 0.079);
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  padding-bottom: 27px;
  position: sticky;
  top: 120px;
  @include light {
    border: 1px solid rgba(6, 6, 6, 0.1);
  }
  @media #{$xl,$lg} {
    padding: 15px;
  }
}

.bd-need-work h5 {
  font-size: 18px;
  margin-bottom: 17px;
}

.bd-need-work p {
  font-size: 14px;
  margin-bottom: 20px;
}

.bd-need-work a {
  border: 1px solid var(--clr-theme-1);
  display: inline-block;
  padding: 0 14px;
  border-radius: 6px;
  font-size: 15px;
  height: 33px;
  line-height: 32px;

  &:hover {
    color: #fff;
    background-color: var(--clr-theme-1);
    border-color: var(--clr-theme-1);
  }
}

.sub_section iframe {
  @media #{$xl, $lg} {
    width: 730px;
  }

  @media #{$md, $sm, $xs} {
    display: none;
  }
}
